.order {
  margin-bottom: 12%;
}
.category_wrapper {
  font-size: 1.2rem;
  .active {
    color: $buttonColor;
    border-bottom: 2px solid $buttonColor;
  }
  &_item {
    color: $textColor;
    &:hover {
      color: $buttonColor;
    }
  }
}
.item {
  @extend %radius;
  background: $background;
  border: 1px solid $mask;
  
  .name {
    @include textWrap(1);
  }
  .border {
      flex-grow: 1;
      border: 2px dotted #000;
    }
}
.item_footer {
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .category_wrapper {
    width: 50%;
  }
}
