.member_info {
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}
.item {
  border-bottom: 1px solid $mask;
  color: $textColor;
  &:hover {
    @extend %shadow;
  }
}
.member_news {
  color: $textColor;
  &_wrapper {
    max-height: 320px;
  }
}
.member_follow {
  color: $textColor;
  &_wrapper {
    max-height: 320px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }
  .member_follow, .member_news {
    width: 45%;
  }
}
