.navbar_wrapper {
    position: fixed;
    border-top: 2px solid $mask;
    background: $navBar;
    height: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    &_item {
      font-size: 1.2rem;
      color: $white;
      &:hover {
        color: darken($white, 15%)
      }
    }
  }

  @media screen and (min-width: 768px) {
  .navbar {
    width: 12rem;
    height: 100vh;
    border-right: 2px solid $mask;
    background: $navBar;
    transform: scaleY(1.1);
    &_wrapper {
      border-top: 0;
      position: relative;
      flex-direction: column;
      height: 15rem;
      margin-top: 3rem;
    }
  }
}
