.newComment {
  flex-wrap: wrap;
  color: $textColor;
  &_rating {
    width: 50%;
    margin: 0 auto;
    .radio {
      display: none;
    }
    label {
      font-size: 1.5rem;
      color: $star;
    }
  }
  &_comment {
    .text {
      width: 90%;
      resize: none;
    }

    .submit {
      @include buttonStyle($buttonColor, $buttonColor, $white);
    }
    .cancel {
      @include buttonStyle($mainColor, transparent, $mainColor);
    }
  }
}

.show-enter-active {
  transition: opacity .2s .2s,transform .2s;
}
.show-leave-active {
  transition: opacity .2s,transform .2s .2s;
}
.show-enter-to, .show-leave {
  transform: scaleY(1);
  transform-origin: top;
  opacity: 1;
}
.show-enter, .show-leave-to {
  transform: scaleY(0);
  opacity: 0;
}
