.restaurant_comments_newComment {
  flex-wrap: wrap;
  color: $textColor;
  &--rating {
    width: 50%;
    margin: 0 auto;
    .radio {
      display: none;
    }
    label {
      font-size: 1.5rem;
      color: $star;
    }
  }
  &--comment {
    .text {
      width: 90%;
      resize: none;
    }

    .submit {
      @include buttonStyle($buttonColor, $buttonColor, $white);
    }
    .cancel {
      @include buttonStyle($mainColor, transparent, $mainColor);
    }
  }
}
