.comments {
  max-height: 300px;
  &_item {
  border-bottom: 1px solid darken($white, 10%);
  img {
    @extend %shadow;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  .rating {
    color: $star;
  }
}
}
