.menu_item {
  @extend %shadow, %radius;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    max-height: 150px;
  }
  &_body {
    .description {
      @include textWrap(2);
    }
  }
  &_footer {
    border-top: 1px solid $mask;
  }
}

.count {
  &_button {
    @extend %tagStyle;
    width: 1.5rem;
    height: 1.5rem;
    color: $white;
    transform: translate(0, 0);
  }
  .plus {
    background: $buttonColor;
  }
  .minus {
    background: $mainColor;
    transform: rotate(180deg);
  }
  &_input {
    width: 2rem;
    height: 1.5rem;
    border: 0;
    border-top: 1px solid $mask;
    border-bottom: 1px solid $mask;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
      appearance: none;
    }
  }
}
