.menu_item {
  @extend %shadow, %radius;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    max-height: 150px;
  }
  &_footer {
  border-top: 1px solid $mask;
  }
  }  

.edit {
  @include buttonStyle($buttonColor, $buttonColor, $white)
}
.sale {
  @include buttonStyle($categoryTag, $categoryTag, $white)
}
.stop {
  @include buttonStyle($mainColor, $mainColor, $white)
}
