nav {
  right: 0;
  left: 0;
  top: 0;
  height: 3.5rem;
  z-index: 999;
  background: $navBar;
}
.nav_brand {
  @extend %brandFont;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: $white;
}
.nav_wrapper {
  a {
    font-weight: bold;
    color: darken($white, $linkBeforeHoverAmount);
    margin: 0 5px;
    &:hover {
      color: $white;
    }
  }
}
