nav {
  right: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.877);
}
.nav_brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: $white;
}
.nav_wrapper {
  a {
    font-weight: bold;
    color: darken($white, $linkBeforeHoverAmount);
    margin: 0 5px;
    &:hover {
      color: $white;
    }
  }
}
