.filter {
    &_hamburger {
      width: 30px;
      height: 30px;
      .border {
        @extend %radius;
        position: relative;
        width: 10px;
        height: 3px;
        background: $textColor;
        &::after, &::before {
          content: '';
          position: absolute;
          height: 3px;
          background: $textColor;
        }
        &::after {
          bottom: 8px;
          width: 20px;
          left: 0;
        }
        &::before {
          width: 30px;
          bottom: 16px;
          left: 0;
        }
      }
      &:hover .border {
        width: 30px;
        transition: width .3s;
        &::after {
          transition: width .3s;
          width: 30px;
        }
      }
    }
    &_list {
      z-index: 99;
      border: 1px solid $mask;
      @extend %radius, %shadow;
      background: $white;
      width: 320px;
      &_item {
        .active {
          color: $buttonColor;
          border-bottom: 1px solid $buttonColor;
        }
        &--link {
          color: $textColor;
        }
        &--link:hover {
          color: $buttonColor;
        }
      }
    }  
  }

.search {
  &_input {
    @extend %textInput;
  }
  &_btn {
    font-size: 1.5rem;
    color: $textColor;
  }
}
