  .restaurant_card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem 1.5rem;
    &--item {
    overflow: hidden;
    @extend %shadow, %radius;
    .card {
      color: $textColor;
    }
    .card_body {
      &--detail {
        span {
          @extend %radius;
        }
        .rating {
          color: darken($white, 5%);
          background: $ratingTag;
        }
        .category {
          color: darken($white, 5%);
          background: $categoryTag;
        }
      }
      &--description {
        @include textWrap(3);
      }
    }
    }
  }
